/* Base styling for body elements */

body {
    font: normal 1.25em Verdana, Arial, sans-serif;
    background-color: #fff;
  	color: #333;
  	box-sizing: border-box;
    text-align: center;
}	

/* Styling the input fields */

.row {
	margin: 10% auto;
}

/* Styling the button */

#button {
    border: none;
    color: white;
    margin: 22px 3%;
    display: inline-block
    width: 15%;
    float: right;
    transition-duration: .4;
} 

/* Styling the answer text */

#answer {
	display: block;
	margin: 2.5%;
	padding: 15px 32px;
	width: 95%;
	font-size: 1.25em;
	font-weight: bold;
	background-color: #fff;
	float: left;
}

/* Styling the footer */

footer {
  font-size: 0.75em;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}